/* Write your CSS code here */
.products-bg-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.products-image {
  height: 330px;
  width: 200px;
}
