.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

/* Write your CSS here */

.comments-item-container {
  margin-bottom: 15px;
}

.image-container {
  display: flex;
  justify-content: space-between;
}
.comments-top-container {
  display: flex;
}

.like-container {
  display: flex;
  margin-left: 10px;
  background-color: transparent;
  border: none;
  outline: none;
}
.name-logo {
  background-color: #f97316;
  padding: 10px 15px 10px 15px;
  color: white;
  border-radius: 140px;
  margin: 9px;
}
.user-name {
  font-size: 18px;
  font-weight: 500;
  color: #334155;
}
.comment-time {
  color: #64748b;
  font-size: 15px;
  font-weight: 500;
  margin-left: 40px;
  margin-top: 20px;
}
.comment {
  font-size: 15px;
  color: #475569;
  margin-left: 52px;
  margin-top: 5px;
  margin-bottom: 8px;
}
.like-image {
  height: 25px;
  width: 25px;
  margin-top: 9px;
}
.like {
  color: #475569;
  font-size: 16px;
  margin-left: 10px;
  margin-top: 13px;
  margin-bottom: 12px;
}
.delete-icon {
  height: 25px;
  width: 23px;
  margin-top: 10px;
}
.horizontal-line {
  border-color: #94a3b8;
  width: 100%;
  margin: 0px;
}
.delete-btn {
  background-color: transparent;
  border: none;
}
